*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Firefox */
body {
    scrollbar-color: #0817ff;/* thumb-color track-color */
}

/* WebKit (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #0817ff;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

iframe {
    width: 90%;
    height: 120vh;
}

@media screen and (max-width: 675px) {
    iframe {
        width: 90%;
        height: 45vh;
    }
}